services:
  postgres:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: deli
      POSTGRES_PASSWORD: 221a221a
      POSTGRES_DB: form_agent
    ports:
      - "5432:5432" # 将容器的 5432 端口映射到宿主机的 5432 端口
    volumes:
      - postgres-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080" # 将 Adminer 绑定到本地 8080 端口

volumes:
  postgres-data:
